@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700&display=swap');

#root {
  width: 100%;
}

body,
html {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Besley';
}
